<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style type="text/css">
      iframe{
           height:100px;
           width:500px;
            }

  </style>

</head>
<body>
<table border>
<thead>
<tr>
<th>Name</th>
<th>Songs</th>

</tr>
</thead>
<tbody>
<tr th:each="plist:${allPlaylist}">    <!-- "allPlaylist" is write from the list of playlist in the createPlaylist -->
<td th:text="${plist.name}"></td>
<td>
   <ul>
      <li th:each="song:${plist.songs}">
      <span th:text="${song.name}"></span>
      <audio controls>
              <source th:src="${song.link}" type="audio/mpeg">
      </audio>
      </li>
   </ul>
</td>
</tr> 
</tbody>
</table>

</body>
</html>